.tags {
    max-width: 280px;
    display: flex;
    flex-wrap: wrap;
}

p {
    font-size: 20;
    font-weight: bold;
    margin: 0px 5px;
}

.tags-item {
    border-radius: 5px;
    padding: 5px;
    font-size: 10px;
    margin: 5px;
    background-color: gray;
    width: 120px;
    color: white;
    cursor: pointer;
}

.tag-count {
    float: right;
}

tag-name {
    float: left;
}