<div>
  <ul>
    <!-- Here i lost my fight against humanity , stupid RouterModel still not working after a few attemps.
      I try everything , my sanity is bellow zero. Thanks god for switches. -->
    <li (click)="RedirectTo('home')">Home</li>
    <li (click)="RedirectTo('messages')">Messages</li>
    <li (click)="toWorkshops()">Workshops</li>
    <li (click)="RedirectTo('projects')"><a>Projects</a></li>
    <li (click)="logout()"><i class="bi bi-box-arrow-right"></i>Logout</li>
  </ul>
</div>
