.left,.center, .right, .profile-pic {
  display: inline;
}

h2, h3{
  margin: 0;
}

h2{
  font-size: 20px;
  font-weight: 600;
}

h3{
  font-size: 15px;
}

.content, .profile{
  display: flex;
}

.content{
  align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
  justify-content: space-between;
}

.center{
  input{
    border: none;
    outline: none;
    color: #999999;
    background-color: #EAEAEA;
    padding: 5px 10px;
    border-radius: 10px;
    width: 500px;
  }
}

.left{
  display: flex;
  .logo{
    display: inline;
  }
  .right{
    margin-left: 10px;
    display: inline;
    h2{
      display: block;
    }
    h3{
      display: block;
    }
  }

}
.profile{

  .profile-right{
    .name{
      display: block;
    }

    .username{
      display: block;
    }
  }

}
