<!--div holding content-->
<div>
  <div> <!--div for left top corner items-->
    <h2>CatchThemAll</h2>
    <h3>For Students</h3>
  </div>

  <div> <!--div for search bar-->
    <input type="text" placeholder="Search..">
  </div>

  <div>
    <div> <!--ONLY ACTIVE USER, LOGGED IN  div for right top corner items, account, profile photo etc-->
      <img src="" alt="profile-photo">
      <h4>Student Name</h4>
      <p>@username</p>
    </div>
    <div> <!-- NOBODY LOGGED IN, div for right top corner items, account, profile photo etc-->
      <button>Log in</button>
      <button>Register</button>
    </div>
  </div>

</div>
