<!--div holding content-->
<div class="content">

  <div class="left" > <!--div for left top corner items-->
    <img class="logo" src="../../assets/images/pokemon-logo.png" alt="Logo" height="50px" >
    <div class="right">
      <h2>CatchThemAll</h2>
      <h3>For Students</h3>
    </div>
    </div>


  <div class="center"> <!--div for search bar-->
    <input type="text" placeholder="Search..">
  </div>

  <div class="right">
    <div class="profile"> <!--ONLY ACTIVE USER, LOGGED IN  div for right top corner items, account, profile photo etc-->
      <img class="profile-pic" src="" alt="profile-photo">
      <div class="profile-right">
        <h4 class="name">Student Name</h4>
        <p class="username">@username</p>
      </div>

    </div>
<!--    <div> &lt;!&ndash; NOBODY LOGGED IN, div for right top corner items, account, profile photo etc&ndash;&gt;-->
<!--      <button>Log in</button>-->
<!--      <button>Register</button>-->
<!--    </div>-->
  </div>

</div>
