ul {
  padding: 0;
  list-style: none;
  font-size: 20px;
  font-weight: 600;

  li {
    padding: 20px 0;
    cursor: pointer;
    transition: .2s linear;
  }
}

li:hover {
  transform: scale(1.2);
  color: #ED1B1B;
}

.active {
  color: red;
  font-weight: bold;
}

.bi{
  margin-right: 5px;
  font-weight: bold;
}
