<div class="add-post">
  <div class="left-side">
    <img class="profile-pic " src="../../assets/images/pokemons/charmander.png" alt="Profile picture">
  </div>
  <div class="right-side">
    <form class="add-post-form">
      <textarea class="add-post-title" placeholder="Add title"></textarea>
      <textarea class="add-post-text" placeholder="Text here"></textarea>
    </form>
    <div class="others">
      <i class="bi bi-card-image"></i>
      <i class="bi bi-link-45deg"></i>
      <input class="add-tags" type="text" placeholder="Add tags">
      <button class="btn-post">Post</button>
    </div>
  </div>
</div>

<div class="post" *ngFor="let issue of issuesList">
  <div class="left-side">
    <img class="profile-pic" src="../../assets/images/pokemons/charmander.png" alt="Profile picture">
  </div>
  <div class="right-side">
    <h6 class="username">@{{issue.username}}</h6>
    <div *ngIf="issue.isSolved == false"><i class="bi bi-patch-exclamation-fill"></i></div>
    <div *ngIf="issue.isSolved"> <i class="bi bi-patch-check-fill"></i></div>

    <h6 class="date">{{issue.date}}</h6>
    <h6 class="role">Student</h6>
    <h3 class="title">{{issue.title}}</h3>
    <h6 class="id">#{{issue.issueId}}</h6>
    <p class="text">{{issue.text}}</p>
    <div class="others">

      <div class="tag" *ngFor="let tag of issue.tags">{{tag.name}}</div>
      <button class="btn-show">Show more</button>
    </div>


  </div>
</div>


