<div class="add-post">
  <div class="left-side">
    <img class="profile-pic pic-student" src="../../assets/images/pokemons/charmander.png" alt="Profile picture" >
  </div>
  <div class="right-side">
    <form class="add-post-form">
      <textarea class="add-post-title" placeholder="Add title"></textarea>
      <textarea class="add-post-text" placeholder="Text here"></textarea>
    </form>
    <div class="others">
      <i class="bi bi-card-image"></i>
      <i class="bi bi-link-45deg"></i>
      <input class="add-tags" type="text" placeholder="Add tags">
      <button class="btn-post">Post</button>
    </div>

  </div>





</div>

<!--<div class="post">-->
<!--  <img class="profile-pic pic-student" src="../../assets/images/pokemons/charmander.png" alt="Profile picture" >-->
<!--</div>-->
