<div class="detailed-issue-background">
    <div class="main">
        <header>
            <div class="left-side">
                <img class="profile-pic pic-student" src="../../assets/images/pokemons/charmander.png"
                    alt="Profile picture">

                <span class="title-with-name">
                    <div class="title">
                        Problem Mirka Peleho
                    </div>
                    <div class="issue-tag">
                        #EX65YX
                    </div>
                </span>
            </div>
            <div class="right-side">
                <div class="date">
                    3.12.2022 - 21:35
                </div>
            </div>

        </header>
        <div class="issue-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Ut, odio! Quaerat voluptatem nisi ipsum quibusdam beatae distinctio similique provident harum at iste?
            Repellendus architecto, quisquam in provident cupiditate animi minima.
        </div>
        <div class="tags">
            <div class="tags-item">
                System
            </div>
        </div>
    </div>
</div>